

# GIT
!.gitignore
!README.md
!LICENSE
!.github/
!.github/*

!App/*

*.idx

CMakeFiles/

Makefile
build/


# NIX
!default.nix
!.envrc

# TOOLS
!Makefile
!CMakeLists.txt
!gcc-arm-none-eabi.cmake
!.clang-format
!*.ld
cmake/
cmake-build-debug/

/.idea/
/.vscode/

# BASE
!Core
!Drivers
!CubeMX
!Project
!rings-beamformer.ioc
!.mxproject

.settings
